{% extends "projects/base.html" %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if tasks_object %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for tasks in tasks_object %}
                <tr>
                    <td> {{ tasks.name }} </td>
                    <td> {{ tasks.start_date }} </td>
                    <td> {{ tasks.due_date }} </td>
                    <td> {{ tasks.is_completed }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock %}
