{% extends "projects/base.html" %}

{% block content %}
<main>
    <div>
        <h1> {{ projects_object.name }} </h1>
        <p> {{ projects_object.description }} </p>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new task</a></p>
        {% if tasks_object %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for tasks in tasks_object %}
                <tr>
                    <td> {{tasks.name}} </td>
                    <td> {{tasks.assignee}} </td>
                    <td> {{tasks.start_date}} </td>
                    <td> {{tasks.due_date}} </td>
                    <td> {{tasks.is_completed|yesno:"yes,no"}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock %}
